.App {
  width: 100vw;
  height: 100vh;
  background: url(https://startbootstrap.github.io/startbootstrap-grayscale/assets/img/bg-masthead.jpg) no-repeat center center fixed; 
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: relative;
}

.title {
  margin-left: 20px;
  font-size: 25px;
}

.menu-button {
  width: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.menu-icon {
  display: flex;
  flex-direction: column;
}

.bar {
  width: 10px;
  height: 2px;
  margin: 1px;
  background-color: black;
}

@keyframes slide-up {
  0% {
    transform: translate(0)
  }
  100% {
    transform: translate(0, -100%);
  }
}

.closed {
  display: none;
  animation-name: slide-up;
  animation-duration: 0.5s;
}

@keyframes slide-down {
  0% {
    transform: translate(0, -100%)
  }
  100% {
    transform: translate(0)
  }
}

.open {
  background-color: white;
  position: relative;
  animation-name: slide-down;
  animation-duration: 0.5s;
}

li {
  font-size: 20px;
  margin-left: 20px;
}

@media (min-width: 991px) {
  header {
    background-color: none;
  }

  .menu-button {
    display: none;
  }
}